
.navbar{
    padding-left: 100px;
    padding-right: 100px;
}

.navbar-brand img{
    max-width: 150px;
    max-height: 150px;
}
#header{
    background-image:url('https://skylake28.github.io/bstrapact1/css/img/header.png') ;
    background-size: 100% 100%;
    height: 300px;
}